body {
    font-family: "Roboto", sans-serif;
}

.header {
    background-color: #1F2937;
    height: 72px;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.headerlogo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 12%;
}

ul {
    list-style-type: none;
    color: #E5E7EB;
    font-size: 18px;
}

.headerlink {
    display: flex;
    gap: 24px;
    margin-left: auto;
    margin-right: 12%;
}

.hero {
    padding-left: 12%;
    padding-right: 12%;
    height: 550px;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.herotext {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    width: 50%;
}

.herop {
    width: 50%;
    font-size: 18px;
    color: #E5E7EB;
}

.signup {
    width: 125px;
    height: 32px;
    background-color: #3882F6;
    border-radius: 10px;
    border-width: 0px;
    font-size: 18px;
    font-weight: bold;
    color: #F9FAF8;
    align-self: baseline;
}

.blankdiv {
    display: block;
    height: 100%;
}

.placeholderimg {
    background-color: #E5E7EB;
    height: 300px;
    width: 50%;
    line-height: 150px;
    text-align: center;
}

.randinfosection {
    background-color: white;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.randinfo {
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.boxcontainer {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    height: 200px;
    width: 200px;
    border-style: solid;
    border-width: 5px;
    border-color: #3882F6;
    border-radius: 25px;
}

.boxtext {
    width: 200px;
    height: auto;
    text-align: justify;
}
